<div class="container">
	
    <div class="card card-container">
    				<div class="row">
				<center>
					<div class="alert alert-success">
						<span>Successfully logged out!</span>
					</div>
				</center>
			</div>
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="http://malpaniground.com:8080/global/images/logo/site-logo.png"> 
        <!-- <img id="profile-img" class="profile-img-card" src="https://i0.wp.com/www.bemyaficionado.com/wp-content/uploads/2017/04/cropped-bma-temp-logo_64x64.png?fit=32%2C32&ssl=1" /> -->
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" role="form">
            <span id="reauth-email" class="reauth-email"></span>
            <input [(ngModel)]="username" type="text" class="form-control" required placeholder="Enter username..." />
            <!-- <material-input
                label="enter username"
                autoFocus style="width: auto"
                [(ngModel)]="username"
            ></material-input> -->
            <input [(ngModel)]="password" type="password" class="form-control" required placeholder="Enter username..." />
            <!-- <material-input
                label="enter password"
                style="width: auto"
                type="password"
                [(ngModel)]="password"
            ></material-input> -->
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button (click)="onSubmit()" class="btn btn-primary">Login</button>
            <!-- <material-button 
                raised
                class="btn btn-primary"
                (click)="onSubmit()">
                Login
            </material-button> -->
        </form><!-- /form -->
        <a href="/login/forgot-password" class="forgot-password">
            Forgot the password?
        </a>
    </div><!-- /card-container -->
</div>

