<div class="card">
	<div class="card-header">
		<h4>Assign Clinics to Doctors</h4>
	</div>
	<div class="card-body">
		<form action="/dashboard/reception/assign-clinic-doctor" method="POST">
			<span>Assign Clinic: &nbsp;</span>
				<select name="clinicNumberId" 
				[(ngModel)]="selectedDoctorId"
				style="width: 30%;">
					<option disabled="" selected="">select...</option>
					<option *ngFor="let doctor of doctors" value="{{doctor.doctorId}}">{{doctor.doctorName}}</option>
				</select>
			<!-- Doctors select box -->
			<span> to doctor: &nbsp;</span>
				<select name="doctorId" 
				[(ngModel)]="selectedClinicId"
				style="width: 30%;">
					<option disabled="" selected="">select...</option>
					<option *ngFor="let clinic of clinics" value="{{clinic.clinicId}}">{{clinic.clinicName}}</option>
				</select>
			<button (click)="assignDoctorToClinic()" class="btn btn-sm btn-default">Assign</button>
		</form>
	</div>
</div>