
<div class="card">
	<div class="card-header">
		<h4>Book an Appointment</h4>
	</div>
	<div class="card-body">
		<form class="form" action="/dashboard/reception/make-appointment" method="POST">
			<div class="form-group">
				<label class="form-label">Patient's Name</label>
				<input class="form-control" type="text" name="patientName" autocomplete="off">
			</div>
			<!-- Multi Tab for Appointment Options -->
			<div class="form-group">
				<div class="form-group">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li class="nav-item">
						<a class="nav-link active" id="doctor-tab" data-toggle="tab" href="#doctors_tab" role="tab" aria-controls="doctor" aria-selected="true">Appointment by Doctor</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="clinics-tab" data-toggle="tab" href="#clinics_tab" role="tab" aria-controls="clinics" aria-selected="false">Appointment by Clinics</a>
					  </li>
					</ul>
					<!-- Doctors List -->
					<div class="tab-content" id="appointment_tab_content">
					  <div class="tab-pane fade show active" id="doctors_tab" role="tabpanel" aria-labelledby="home-tab">
							<div class="form-group">
								<select name="doctorId" class="form-control"  [(ngModel)]="selectedDoctorId">
								<!-- Iterate through list of doctors and form select -->
									<option disabled="" selected="">Select Doctor...</option>
                                    <option  
                                    *ngFor = "let doctor of doctors"
                                    value = "{{doctor.doctorId}}"
                                    >{{doctor.doctorName}}</option>
								</select>
							</div>
					  </div>
					  <!-- Clinic Room Numbers -->
					  <div class="tab-pane fade" id="clinics_tab" role="tabpanel" aria-labelledby="clinics-tab">
							<div class="form-group">
									<select name="clinicRoomId" class="form-control" [(ngModel)]="selectedClinicId">
										<option disabled selected>Select Clinic...</option>
										<option *ngFor="let clinic of clinics" value="{{clinic.clinicId}}">{{clinic.clinicName}}</option>
									</select>
							</div>
					  </div>
					</div>
				</div>
			</div>
			<div class="form-group">
                <button class="btn btn-default"
                (click)="bookAppointment()"
                >Make Appointment</button>
			</div>
		</form>
	</div>
</div>
