<div class="card">
        <div class="card-header">
            <h4>Counter Clinic Information</h4>
        </div>
        <div class="card-body">
            <form action="/dashboard/reception/init-empty-queue" method="POST">
                <div class="form-group">
                    <button class="btn btn-warning" type="submit">Initialize <i class="fa fa-lg fa-refresh" aria-hidden="true"></i></button>
                </div>
            </form>
            <form action="/dashboard/reception/reset-all-queue" method="POST">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Reset Queue <i class="fa fa-lg fa-refresh" aria-hidden="true"></i></button>
                </div>
            </form>
            <table class="table table-condensed">
                                <thead>
                        <tr><th>#</th>
                        <th>Doctor's Name</th>
                        <th>Clinic Number</th>
                        <th># of People Waiting</th>
                        <th>Current Patient's Count</th>
                        <th>Doctor Status</th>
                    </tr></thead>
                <tbody>
                    <tr *ngFor="let status of queueStats">
                        <td><strong>{{status.id}}</strong></td>
                        <td>{{status.doctorName}}</td>
                        <td>{{status.clinicNumber}}</td>
                        <td>{{status.queueSize}}</td>
                        <td>{{status.currPatientInQueue}}</td>
                        <td>
                            <form action="/api/changeDoctorStatus" method="POST" id="doctor_status_form" class="doctor-status-form">
                                <input type="hidden" value="{{status.id}}" name="doctorId">
                                <input type="text" id="doctor_status_input" class="form-control" name="doctorStatus" value="{{status.doctorStatus}}">
                            </form>
                        </td>
                        <td>
                            <form action="/dashboard/reception/init-empty-queue-for-doctor" method="POST">
                                <input type="hidden" value="{{status.id}}" name="doctorId">
                                <button (click)="resetQueue(status.id)" class="btn btn-primary" type="submit">Reset Queue <i class="fa fa-lg fa-refresh" aria-hidden="true"></i></button>
                            </form>
                        </td>
                    </tr>
                                        
                </tbody>
            </table>
        </div>
        
    </div>