<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <book-appointment [doctors]="doctors" [clinics]="clinics"></book-appointment>
        </div>
        <hr/>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <assign-doctor-clinic [doctors]="doctors" [clinics]="clinics"></assign-doctor-clinic>
        </div>
        <hr/>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <doctor-queue-info [queueStats]="queueStats"></doctor-queue-info>
        </div>
    </div>

    <!-- List of All Appointments -->
    <div class="row">
        <div class="col-sm-12">
            <all-appointments [appointments]="appointments"></all-appointments>
        </div>
        <hr/>
    </div>
</div>