<div class="card">
	<div class="card-header">
		<h4>List of All Appointments</h4>
	</div>
	<div class="card-body">
		<form class="form" action="/dashboard/reception/deleteAllAppoinments" method="POST">
			<div class="form-group">
				<input type="submit" class="btn btn-danger" value="Delete All Appointments">
			</div>
		</form>
					<table class="table table-bordered table-responsive">
				<thead>
					<tr><th>#</th>
					<th>Patient's Name</th>
					<th>Appointed Doctor</th>
					<th>Clinic Number</th>
					<th>Time of Appointment</th>
					<th>QR Code</th>
				</tr></thead>
				<tbody>
					<tr *ngFor = "let appointment of appointments">
						<td>{{ appointment.appointmentId }}</td>
						<td>{{ appointment.patientName }}</td>
						<td>{{ appointment.appointedDoctor }}</td>
						<td>{{ appointment.clinicNumber }}</td>
						<td>{{ appointment.timeOfAppointment }}</td>
						<td>
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_id_1">
								Show QR Code
							</button>
                            <div class="modal" tabindex="-1" role="dialog" id="modal_id_1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Patient: {{ appointment.patientName }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <center><img style="height:300px;" src="{{ appointment.qrCodeImagePath }}" class="img img-responsive"></center>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>						
                        </td>
						<td>
							<a class="btn btn-default" href="/dashboard/reception/getAppointmentInfo/4">View Appointment</a>
						</td>
						<td>
							<form action="/dashboard/reception/deleteAppointment" method="POST">
								<input type="hidden" value="4" name="appointmentId">
								<button (click)="deleteAppointment(appointment.appointmentId)" type="submit" class="btn btn-danger">Delete</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
