<header  class="material-header">
    <div class="material-header-row">
        <span class="material-header-title">
            Counter Clinic 
        </span>
    </div>
</header>
<router-outlet [routes]="Routes.all"></router-outlet>
